/* In your CSS file */
html {
  scroll-behavior: smooth;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    padding: auto;
    min-height: 100vh; /* full height of viewport */
  }
  
  .content {
    flex: 1; /* pushes footer down */
  }
  
  .footer {
    background-color: #f0f0f0;
    padding: 0.5rem;
    text-align: center;
  }