/* In your CSS file */
html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    min-height: 100vh;
  }
  
  .content {
    flex: 1; /* pushes footer down */
  }
  
  .footer {
    background-color: #f0f0f0;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
  }