.hero {
    height: 100vh;
    background-color: #efefef;
}


.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 2rem;
    text-align: start;
    font-family: Poppins, sans-serif;
}

.hero-left h1 {
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}

.hero-left h2 {
    font-size: 2rem;
    font-weight: 400;
    text-align: start;
    margin: 0.5rem 0;
}
.name-style{
    font-family: "Italianno", cursive;
}

.hero-left p:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* .hero-right img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    object-position: center;
} */
.footer-style{
    font-family: Poppins;
    font-size: small;
}
