/* src/components/Projects.css */
.projects-section {
  scroll-margin-top: 80px;
  height: 100vh;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-card {
  flex: 1 1 300px;
  padding: 15px;
  border: 1px solid #ddd;
  /* border-radius: 0 1.5rem; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.project-style{
  font-family: Poppins;
  font-size: 20px;
}